body{
    margin: 0;
    padding: 0;
    background-color: #3A1078;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.search{
    width: 3vw;
    height: 4vh;
    padding-top: 2px;
}

.container{
    width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px solid black ;
}
.input-container{
    width: 100%;
    display: flex;
    align-items: center;
    border: 2px solid #70e6f3;
    border-radius: 10px;
    overflow: hidden;
}

.cityInput{
    flex: 1;
    height: 30px;
    border: none;
    font-size: 16px;
    outline: none;
    background-color: #fff;
    padding: 10px;
    color: black;
}

.search-icon{
    padding: 10px;
    height: 30px;
    
    cursor: pointer;
}

.image{
    text-align: center;
    padding: 30px;
}

.image img{
    height: 150px;    
}

.country{
    color: black;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}
.location{
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-align: center;
}

.temp{
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.l{
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.lat-lon{
    display: flex;
    gap: 5px;
    justify-content: center;
}


.l-block{
    display: grid;
    
}
.element img{
    width: 5vw;
    height: 7vh;
}

.data img{
    width: 5vw;
    height: 9vh;
}

.container-data{
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.text{
    color:#888;
}

.author{
    color: #888;
    display: flex;
    justify-content: center;
}

.loading,
.found,
.error{
    color: #888;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}